In [ ]:
class vehicle:
    def _init_(self,p,c,r):
        self.price=p
        self.colour=c
        self.ragplate=r
    def print(self):
        print("price of vehicle",self.price)
        print("colour of vehicle",self.colour)
        print("ragplate of the vehicle",self.ragplate)
        
if _name=="main_":
    honda=vehicle(100000,"black","ka37123")
    honda.print()

class car(vehicle):
    def _init_(self,t,p,s):
        self.type=t
        self.passenger=p
        self.speed=s
    def print(self):
        print("type of car",self.type)
        print("no of passenger in the car",self.passenger)
        print("speed of the car ",self.speed)
        
if _name=="main_":
    tata=car("tata",6,150)
    tata.print()

class truck(car):
    def _init_(self,c,a):
        self.capacity=c
        self.axel=a
       
    def print(self):
        print("capacity of truck",self.capacity)
        print("axel of the truck",self.axel)
        
if _name=="main_":
    tata=truck("tata",6,150)
    tata.print()

In [ ]:
#employee-->id,name,salary
#s.staff-->work type,work place
#developer-->module,tech,experiance
#manager-->project,client name

In [8]:
for x in range(0, 7):
    for y in range(0, x + 1):
        print("*", end="")
    print()

*
**
***
****
*****
******
*******

In [14]:
for x in range(0, 7):
    for y in range(0, x + 2):
        print("*", end="")
    print()

**
***
****
*****
******
*******
********

In [15]:
for x in range(0, 7):
    for y in range(0, x - 3):
        print("*", end="")
    print()

*
**
***

In [18]:
size = int(input("Enter the size of the square: "))

for i in range(size):
    for j in range(size):
        print("*", end=" ")
    print()

Enter the size of the square:  6

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [26]:
height = 5

for i in range(1, height + 1):
   
    print(' ' * (height - i), end='')
    print('*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [28]:

size = 5


for i in range(size, 0, -1):
    for j in range(size - i):
        print(' ', end='')
    
    for j in range(2 * i - 1):
        print('*', end='')
    print()

*********
 *******
  *****
   ***
    *

In [29]:
height = 5

for i in range(height):
    for j in range(height - i - 1):
        print(" ", end="")
    
    for k in range(i + 1):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [30]:
height = 5

for i in range(height):
    for j in range(height - i - 1):
        print(" ", end="")
    
    for k in range(i + 1):
        print("*", end="")
    
    print()

    *
   **
  ***
 ****
*****

In [31]:
height = 5


for i in range(height):
    
    for j in range(i):
        print(" ", end="")
    
    for k in range(height - i):
        print("*", end="")
    
    print()

*****
 ****
  ***
   **
    *

In [38]:
for i in range(0, 5):
  for j in range(0,i + 1):
    print("*",end="")
  print()

*
**
***
****
*****

In [39]:
for i in range(0, 5):
  for j in range(0,j + 1):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [41]:
for i in range(0, 5):
  for j in range(0,i + 1):
    print("*",end="")
  print()

*
**
***
****
*****

In [2]:
size = 5


for i in range(size):
    for j in range(size):
        if i == 0 or i == size - 1 or j == 0 or j == size - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [62]:
rows = 5


for i in range(1, rows + 1):
    # Print '0' for even rows and '1' for odd rows
    print('0' * i if i % 2 == 0 else '1' * i)

1
00
111
0000
11111

In [73]:
 size = 5

for i in range(size):
    for j in range(size):
        if i == 0 or i == size - 1 or j == 0 or j == size - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [75]:
# Number of rows

r=5

for i in range(1, r+1):

  print("*"*i, end="")

  print(" "*(r-i)*2, end="")

  print("*"*i)


for i in range(r,0,-1):

  print("*"*i, end="")

  print(" "*(r-i)*2, end="")

  print("*"*i)

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *